node_modules/
.env
.DS_Store


public/uploads/
src/public/uploads/*


!src/public/uploads/imagenes/
src/public/uploads/imagenes/*


!src/public/uploads/imagenes/.gitkeep


!src/public/uploads/imagenes/seed/
!src/public/uploads/imagenes/seed/*